    *{
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        transition: all 0.5s;
    }

    body {
        /* background-color:rgb(229, 214, 239); */
        background-color: rgb(200, 148, 224);
        display: grid;
        place-items: center; 
        height: 100vh;
        width: 100%;
        margin: 0;
    }

    .card {
        /* position: absolute; */
        background: #fdfdfd;
        border-radius: 10px;
        height: 85vh;
        width: 85vw;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        overflow: hidden;
    }

    @media only screen and (min-width: 1000px) {
        .card {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .card img {
            max-height: unset;
            width: 100%;
            max-width: 50vw;
        }
    }

    @media only screen and (max-height: 640px) {
        .card {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
        .card img {
            max-height: unset;
            width: 100%;
            max-width: 50vw;
        }
    }

    .text {
        padding: 1em;
    }

    .card img {
        margin-left: auto;
        margin-right: auto;
        /* max-height: 40vh; */
    }
    .card h1 {
        font-family: inter;
        font-weight: 600;
        color: rgb(29, 29, 79);
    }
    .card p {
        font-family: poppins;
        color: rgb(29, 29, 79);
    }

    .space {
        height: 100px;
    }

    a {
        position: relative;
        font-size: 20px;
        color: orangered;
        font-weight: 600;
        text-decoration: none;
        margin-left: 20px;
        padding: 6px 15px;
        font-family: poppins;
        transition: 0.6s;
        z-index: 1; /* Tambahkan z-index pada elemen a */
    }
    
    a:hover,
    a.active {
        color: white;
    }
    
    a span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: orangered;
        border-radius: 30px;
        transform: scale(0);
        transition: 0.6s;
        opacity: 0;
        z-index: -1; /* Pastikan span berada di belakang teks */
    }
    
    a:hover span,
    a.active span {
        transform: scale(1);
        opacity: 1;
        z-index: -1; /* Pastikan span tetap berada di belakang teks saat di-hover */
    }
    
